/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #555555;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  background: url("/static/img/natural_paper.png");
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 750px;
  }
}

.text {
  font-size: 20px;
  line-height: 1.5;
}

.item {

}

.image {

}

.header {
}

.title {
  padding: 4% 0 4% 0;
  text-align: center;

  h2 {
    padding: 0 0 1% 0;
    font-size: 41px;
  }

  h3 {
    font-size: 30px;
    line-height: 25px;
    letter-spacing: 2px;
  }
}

.header__body {
  display: flex;
  justify-content: center;
}

.header__burger {
  display: none;
}

.header__menu {
  overflow: auto;

}

.header__list {
  display: flex;
  margin: 0 0 4% 0;
}

.header__link {
  font-size: 24px;
  margin: 0 55px 0 0;
}

@media (max-width: 992px) {
  .header__link {
    font-size: 20px;
    margin: 0 35px 0 0;
  }
  .title {
    padding: 4% 0 4% 0;
    text-align: center;

    h2 {
      padding: 0 0 1% 0;
      font-size: 35px;
    }

    h3 {
      font-size: 25px;
      line-height: 25px;
    }
  }
}

@media (max-width: 767px), (orientation: landscape) and (max-width: 850px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 3;
    top: 15px;
    right: 15px;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
  .header__menu {
    display: none;
  }
  .header__menu.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: burlywood;
    padding: 80px 30px 30px 30px;
    transition: all 0.5s ease 0s;
  }

  .header__link {
    font-size: 30px;
  }

  .header__body {
    justify-content: end;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 35px 0;
  }
  .title {
    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 18px;
    }
  }
}

.about {
}

.about__bg {
  background-color: antiquewhite;
  border-radius: 7px;
}

.about__row {
  padding: 8% 5% 8% 8%;
  display: flex;
  flex-direction: column;
}

.about-me {
}

.about__item {
}

.item__row {
  display: flex;
}

.about-me__image {
  flex: 0 0 41%;
  margin: 0 0 10% 0;
}

.about-me__image img {
  max-width: 100%;
  border-radius: 4px;
}

.about-me__body {
  padding: 0 0 0 7%;
}

.about-me__hi {
  font-size: 29px;
  font-weight: 500;
  margin: 0 0 10% 0;
  text-align: center;
}

.about-me__text {
  text-align: justify;

  p {
    margin: 0 0 5% 0;
  }

}

.about-work {
}

.about-work__image {
  flex: 0 0 41%;
}

.about-work__image img {
  max-width: 100%;
  border-radius: 4px;
}

.about-work__body {
  align-self: center;
  padding: 0 7% 0 0;
}

.about-work__text {
  text-align: justify;

  p {
    margin: 0 0 5% 0;
  }
}

@media (max-width: 1200px) {
  .text {
    font-size: 18px;
    line-height: 1.5;
  }

}

@media (max-width: 992px) {
  .text {
    font-size: 17px;
    line-height: 1.3;
  }
  .about-me__image {
    align-self: center;
  }
  .about-me {
    margin: 0 0 10% 0;
  }
}

@media (max-width: 767px), (orientation: landscape) and (max-width: 850px) {
  .item__row {
    flex-direction: column;
  }
  .about__row {
    padding: 8% 8% 8% 8%;
  }
  .about-me__body {
    padding: 0;
  }
  .about-work__body {
    align-self: center;
    padding: 5% 0 0 0;
    order: 2;
  }
  .about-work__image img {
    max-width: 100%;
    order: 1;
  }
  .text {
    font-size: 18px;
    line-height: 1.5;
  }

}

.brands {
}

.brands__row {
  display: flex;
  padding: 15%;
}

.brand {
  flex: 1 1 16.666%;
  padding: 0 1%;
  align-self: center;

  img {
    max-width: 100%;
  }
}

.contacts {
}

.contacts__row {
  display: flex;
  justify-content: center;
}

.contacts__body {
  padding: 5% 0 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555555;
  letter-spacing: 3px;
}

.contacts__title {
  font-size: 25px;
  line-height: 25px;
  margin: 0 0 15% 0;
}

.contacts__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 25px;

  span {
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .contacts__title {
    font-size: 20px;
  }
  .contacts__text {
    font-size: 15px;
  }
  .contacts__body {
    letter-spacing: 2px;
  }
}

//section feedbacks


.feedbacks {
}

.feedback__bg {
  background-color: antiquewhite;
  border-radius: 5px;
}

.feedback__text {
  text-align: center;
  padding: 5%;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 3px;
}

.feedbacks__row {
  display: flex;
}

.feedbacks__feedback {
  flex: 1 1 50%;

  img {
    width: 100%;
    padding: 4%;
    box-shadow: 14px 17px 37px -15px rgba(123, 124, 45, 0.1);
  }
}

@media (max-width: 767px) {
  .feedbacks__row {
    flex-direction: column;
  }
  .feedback__text {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1px;
  }
}

//section prices

.prices__bg {
  background-color: antiquewhite;
  border-radius: 4px;
}

.prices__row {

}


.prices__title {
  text-align: center;
  padding: 10% 5% 0% 5%;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0 0 10% 0;
}

.prices__columns {
}

.column {

}

.column__row {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.prices__price {

}

.price__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 350px;
  height: 450px;
  border-radius: 4px;
}

.price__link_right {
  margin-left: 5%;
}

.price__link_left {
  margin-right: 5%;
}

.price__icon {
  width: 80%;
  height: 80%;
  overflow: hidden;

  img {
    padding-top: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
}

.price__body {
  padding: 3%;
  text-align: center;
  font-size: 17px;
  line-height: 23px;
}

.fixed {
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

#popup {
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;

  &:target {
    opacity: 1;
    visibility: visible;
  }
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4% 1%;
}

.popup__content {
  background-color: beige;
  color: #555555;
  max-width: 800px;
  padding: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}


.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}

.popup__column {
  display: flex;
}

.popup__text {
  flex: 1 1 40%;
  margin-left: 5%;
}

.popup__title {
  font-size: 23px;
  line-height: 25px;
  margin-bottom: 20%;
  font-weight: bold;
}


.popup__time {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 1%;
}

.popup__price {
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 35%;
}

.popup__tel {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 5%;
}

.popup__vk {
}

.popup__description {
  font-size: 18px;
  line-height: 25px;
  margin-top: 7%;
  flex: 1 1 60%;
  text-align: justify;

  ul {
    margin-top: 3%;
    font-size: 15px;
  }

  p {
    margin-top: 3%;
    font-size: 15px;
  }
}

.nth {
  flex: 1 1 40%;
}

.popup__image {
  flex: 1 1 60%;

  img {
    max-width: 100%;
    border-radius: 3px;
  }
}

@media (max-width: 1200px) {
  .price__link {
    width: calc(100px + (350 - 100) * ((100vw - 320px) / (1100 - 320)));
    height: calc(120px + (450 - 120) * ((100vw - 320px) / (1100 - 320)));
  }
}

@media (max-width: 992px) {
  .prices__title {
    text-align: center;
    padding: 5%;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 0 0 5% 0;
  }
  .price__body {
    font-size: 16px;
  }
  .popup__content {
    padding: 3%;
  }
}

@media (max-width: 767px) {
  .price__link {
    width: 560px;
    height: 720px;
  }
  .column__row {
    flex-direction: column;
  }

  .price__link_right {
    margin-left: 0;
  }

  .price__link_left {
    margin-right: 0;
  }
  .price__body {
    font-size: 19px;
  }

  .popup__body {
    padding: 4% 1%;
    margin: 10%;
  }

  .popup__column {
    flex-direction: column;
  }

  .popup__text {
    margin-left: 0;
  }

  .popup__title {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 10%;
    font-weight: bold;
  }


  .popup__time {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1%;
  }

  .popup__price {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 10%;
  }

  .popup__tel {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 3%;
  }

  .popup__description {
    font-size: 16px;
    line-height: 20px;
    margin-top: 4%;

    ul {
      font-size: 14px;
    }

    p {
      font-size: 14px;
    }
  }
  .popup__close {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 15px;
  }
}


@media (max-width: 652px) {
  .price__link {
    width: 385px;
    height: 495px;
  }
}

@media (max-width: 471px) {
  .price__link {
    width: 245px;
    height: 315px;
  }
  .price__body {
    font-size: 15px;
  }
  //.price__icon:first-child {
  //  padding-top: 5%;
  //}
}

//__________________portfolio____________________________________________________________

.portfolio {
}

.portfolio__content {
  background-color: antiquewhite;
}

.portfolio__menu {

}

.portfolio__list {
  font-size: 16px;
  line-height: 30px;

  li {
    display: inline-block;
  }

}

.portfolio__text {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px;
  padding: 0 15px;
}

.portfolio__blocks {

}

.photos {

}


.photos__block {
  height: 1000px;
  display: flex;
}

.ksenia {

}

.ksenia__first-column {
  flex: 1 1 65%;
}

.ksenia__photo_main {
  width: 100%;
  height: 100%;
}

.ksenia__photo {
  padding: 2%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
}


.ksenia__second-column- {
  display: flex;
  flex-direction: column;
  flex: 1 1 35%;

  img {
    object-position: 50% 40%;
  }
}

.ksenia__photo_second {
  height: 33%;
}

.anastasia {
  flex-direction: column;
}

.anastasia__first-column {
}


.anastasia__second-column {
  display: flex;
}

.anastasia__photo {
  padding: 2%;

  img {
    object-fit: cover;
    border-radius: 3px;
  }
}

.anastasia__photo_first {
  img {
    width: 100%;
    height: 450px;
  }
}

.anastasia__photo_second {
  flex: 1 1 50%;

  img {
    width: 100%;
    height: 450px;
  }
}

.footer {
  padding: 3%;
}