{% extends 'base.html' %}

{% block title%}
Отзывы
{% endblock %}

{% block body%}
<div class="feedbacks">
    <div class="container">
        <div class="feedback__bg">
            <div class="feedback__text">
                <p>Здесь тоже какой-то текст</p>
                <p>На два параграфа, как всегда &#10084;</p>
            </div>
            <div class="feedbacks__row">
                <div class="feedbacks__feedback">
                    <img src="/static/img/feedback/f2.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f5.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f3.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f1.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f4.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f6.png" alt="Ой! Тут картинка...">
                </div>
                <div class="feedbacks__feedback">
                    <img src="/static/img/feedback/f8.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f9.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f10.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f11.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f12.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f13.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f14.png" alt="Ой! Тут картинка...">
                    <img src="/static/img/feedback/f7.png" alt="Ой! Тут картинка...">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}