{% extends 'base.html' %}

{% block title%}
Визажист | Макияж, прически, укладки | Москва
{% endblock %}

{% block body%}

<div class="about">
    <div class="container">
        <div class="about__bg">
            <div class="about__row">
                <div class="about-me">
                    <div class="about__item item">
                        <div class="item__row">
                            <div class="about-me__image image">
                                <img src="/static/img/img1.png" alt="Ой! Тут картинка...">
                            </div>
                            <div class="about-me__body">
                                <div class="about-me__hi">Привет! Меня зовут Машулька!</div>
                                <div class="about-me__text text">
                                    <p>
                                        Меня зовут Мария Бунина, я визажист-стилист по волосам, с 2016 года собираю
                                        девушек на различные мероприятия, включая свадьбы и фотосессии, работаю
                                        визажистом на Lamodа, а также сотрудничаю с различными брендами и продакшенами.
                                    </p>
                                    <p>
                                        Я создаю стильные, гармоничные и безупречные свадебные, вечерние и дневные
                                        образы, с которыми Вы будете чувствовать себя комфортно, уверенно и легко!
                                        Слышу все Ваши пожелания, творю с теплотой и любовью.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-work">
                    <div class="about__item item">
                        <div class="item__row">
                            <div class="about-work__body">
                                <div class="about-work__text text">
                                    <p>
                                        В своей работе я использую только качественные и люксовые марки косметики и
                                        стайлинга. Постоянно повышаю свои знания и навыки, следую за трендами, люблю и
                                        развиваю свой профессионализм.
                                    </p>
                                    <p>В своей работе я использую только качественные и люксовые марки косметики и
                                        стайлинга.
                                        Косметику популярных брендов Shiseido, Nars, Dior, Ester Lauder, Natasha Denona,
                                        Clarins, Chanel и многих других, стайлинг таких топовых марок как TiGi, Oribe,
                                        R+Co, Urban Tride, Schwarzkopf Professional, BaByliss
                                        Pro. Я постоянно повышаю свои знания и навыки, следую за трендами и развиваю
                                        свой профессионализм.</p>
                                    <p>
                                        Со мной Ваш образ в надежный руках!
                                    </p>
                                </div>
                            </div>
                            <div class="about-work__image image">
                                <img src="/static/img/img2.png" alt="Ой! Тут картинка...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about__bg">
            <div class="brands">
                <div class="container">
                    <div class="brands__row">
                        <div class="brand">
                            <img src="/static/img/brands/Charlotte-Tilbury-Logo.png" alt="Ой! Тут картинка...">
                        </div>
                        <div class="brand">
                            <img src="/static/img/brands/natashadenona_2.png" alt="Ой! Тут картинка...">
                        </div>
                        <div class="brand">
                            <img src="/static/img/brands/300px-Dior_Logo.svg.png"
                                 alt="Ой! Тут картинка...">
                        </div>
                        <div class="brand">
                            <img src="/static/img/brands/png-transparent-estee-lauder-companies-business-mac-cosmetics-origins-estee-lauder-angle-text-cosmetics.png"
                                 alt="Ой! Тут картинка...">
                        </div>
                        <div class="brand">
                            <img src="/static/img/brands/png-clipart-nars-cosmetics-logo-mac-cosmetics-make-up-artist-makeup-miscellaneous-angle-thumbnail.png"
                                 alt="Ой! Тут картинка...">
                        </div>
                        <div class="brand">
                            <img src="/static/img/brands/png-transparent-givenchy-hd-logo.png"
                                 alt="Ой! Тут картинка...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts">
                <div class="container">
                    <div class="contacts__row">
                        <div class="contacts__body">
                            <div class="contacts__title">
                                Свяжитесь со мной!
                            </div>
                            <div class="contacts__text">
                                <p><span>Эл. почта:</span> marybunina@yandex.ru</p>
                                <p><span>Телефон:</span> +7 925-555-55-55</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



