{% extends 'base.html' %}

{% block title%}
Цены
{% endblock %}

{% block body%}
<div class="prices">
    <div id="fixed" class="fixed">
        <p>#</p>
    </div>
    <div class="container">
        <div class="prices__bg">
            <div class="prices__row">
                <div class="prices__title">
                    <p>Здесь должен быть какой-то текст с информацией</p>
                    <p>Возможно даже на 2 строчки</p>
                </div>
                <div class="prices__columns column">
                    <div class="column__row">
                        <div class="price__row price__link_left">
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup1"><img src="/static/img/look/l1.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup1">Экспресс-образ для фотосессии</a></p>
                                    <p><a href="#popup1">7000 ₽</a></p>

                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup2"><img src="/static/img/look/l2.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup2">Образ для каталога или бренда</a></p>
                                    <p><a href="#popup2">5000 ₽</a></p>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup3"><img src="/static/img/look/l3.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup3">Свадебный образ с репетицией</a></p>
                                    <p><a href="#popup3">17 000 ₽</a></p>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup4"><img src="/static/img/look/l4.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup4">Свадебный образ с сопровождением</a></p>
                                    <p><a href="#popup4">30 000 ₽</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="price__row price__link_right">
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup5"><img src="/static/img/look/l5.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup5">Свадебный образ</a></p>
                                    <p><a href="#popup5">10 000 ₽</a></p>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup6"><img src="/static/img/look/l6.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup6">Причёска</a></p>
                                    <p><a href="#popup6">5 000 ₽</a></p>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup7"><img src="/static/img/look/l7.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup7">Макияж</a></p>
                                    <p><a href="#popup7">5 000 ₽</a></p>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#popup8"><img src="/static/img/look/l8.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <p><a href="#popup8">Вечерний образ</a></p>
                                    <p><a href="#popup8">8 000 ₽</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="popup1" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l1.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Экспресс-образ для фотосессии</p>
                            <p class="popup__time">Выполним за 1 час</p>
                            <p class="popup__price">7 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Экспресс-образ для фотосессии - это нюдовый макияж и лёгкие волны
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup2" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l2.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Образ для каталога или бренда</p>
                            <p class="popup__time">Выполним за 1 час</p>
                            <p class="popup__price">5 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Создание экспресс-образа по пожеланиям и ТЗ заказчика, работа для бренда, лукбука,
                            маркетинга.
                            <ul>
                                <li>1 модель без сопровождения - 5000 руб.</li>
                                <li>1 модель с сопровождением - 8000 руб.</li>
                                <li>2 модели - 10000 руб.</li>
                                <li>3 модели - 12000 руб.</li>
                            </ul>
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup3" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l3.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Свадебный образ с репетицией</p>
                            <p class="popup__time"></p>
                            <p class="popup__price">17 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Свадебный образ с репетицией включает в себя предварительную встречу с невестой для
                            обсуждения ее пожеланий и для подбора и отработки макияжа и причёски до момента
                            торжества
                            <p>Отдельно оплачивается ранний выезд</p>
                            <p>до 8:00 + 1000 руб.</p>
                            <p>До 6:00 + 2000 руб.</p>
                            <p>Дополнительно оплачивается выезд за МКАД</p>
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup4" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l4.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Свадебный образ с сопровождением</p>
                            <p class="popup__time">Выполним за 10 часов</p>
                            <p class="popup__price">30 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Сопровождение, помимо предварительной репетиции, также включает: работу и присутствие
                            стилиста на мероприятии, контроль за стойкостью и качеством образа, а также его смену по
                            желанию невесты.
                            <p>Отдельно оплачивается ранний выезд</p>
                            <p>до 8:00 + 1000 руб.</p>
                            <p>До 6:00 + 2000 руб.</p>
                            <p>Дополнительно оплачивается выезд за МКАД</p>
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup5" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l5.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Свадебный образ</p>
                            <p class="popup__time">Выполним за 3 часа</p>
                            <p class="popup__price">10 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Свадебный образ для невесты с выездом
                            <p>Отдельно оплачивается ранний выезд</p>
                            <p>до 8:00 + 1000 руб.</p>
                            <p>До 6:00 + 2000 руб.</p>
                            <p>Дополнительно оплачивается выезд за МКАД</p>
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup6" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l6.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Причёска</p>
                            <p class="popup__time">Выполним за 1 час</p>
                            <p class="popup__price">5 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Создание укладки или причёски для клиента с выездом
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup7" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l7.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Макияж</p>
                            <p class="popup__time">Выполним за 1 час</p>
                            <p class="popup__price">5 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Создание макияжа для клиента с выездом
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup8" class="popup">
            <a href="#fixed" class="popup__area"></a>
            <div class="popup__body">
                <div class="popup__content">
                    <a href="#fixed" class="popup__close">X</a>
                    <div class="popup__column">
                        <div class="popup__image">
                            <img src="/static/img/look/l8.jpg" alt="">
                        </div>
                        <div class="popup__text">
                            <p class="popup__title">Вечерний образ</p>
                            <p class="popup__time">Выполним за 2 часf</p>
                            <p class="popup__price">8 000 ₽</p>
                            <p class="popup__tel">+7 (968) 997-41-59</p>
                            <p class="popup__vk"></p>
                        </div>
                    </div>
                    <div class="popup__column">
                        <div class="popup__description">
                            Включает в себя создание макияжа и укладки по пожеланиям клиента с выездом на место сборов
                        </div>
                        <div class="nth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}