{% extends 'base.html' %}

{% block title%}
Цены
{% endblock %}

{% block body%}
<div class="prices">
    <div class="container">
        <div class="prices__bg">
            <div class="prices__row">
                <div class="prices__title">
                    <p>Здесь должен быть какой-то текст с информацией</p>
                    <p>Возможно даже на 2 строчки</p>
                </div>
                <div class="prices__columns column">
                    <div class="column__row">
                        <div class="price__row">
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l1.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l2.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l3.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l4.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                        </div>
                        <div class="price__row">
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l5.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l6.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l7.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                            <div class="price__link">
                                <div class="price__icon">
                                    <a href="#zatemnenie"><img src="/static/img/look/l8.jpg"></a>
                                </div>
                                <div class="price__body">
                                    <a href="#zatemnenie">Какой-то текст об услуге</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="zatemnenie">
            <div id="okno">
                Всплывающее окошко!<br>
                <a href="#" class="close">Закрыть окно</a>
            </div>
        </div>
    </div>
    {% endblock %}